*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas{
    border:1px solid black
}

#player ,#layer5,#layer4,#layer3,#layer2,#layer1,#enemy_fly,#enemy_spider_big,#enemy_plant,#fire{
    display: none;
}